# OSX
.DS_Store

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
ios/.xcode.env.local

# Android/IntelliJ
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Expo
.expo/
dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Environment variables
.env
.env*.local

# TypeScript
*.tsbuildinfo

# Testing
coverage/

# Visual Studio Code
.vscode/

# Temporary files
*.swp
*.swo
*.swn
*.bak
*.tmp

# Logs
logs
*.log

# Cache directories
.cache/
.npm/

# Editor directories and files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?